/*
Name:Natthawut Rakammek
Student ID: 68102010201
Lab: JavaScript & DOM
*/

body {
  font-family: Arial, sans-serif;
  margin: 40px;
}

.highlight {
  color: white;
  background-color: steelblue;
  padding: 10px;
  border-radius: 6px;
}
